* {
  font-family: "Verdana", cursive, sans-serif;
  color: #000000;
}
html {
  height: 100%;
}

body {
  height: 15%;
  /* background: linear-gradient(to top, white 75%, #6ad85c 25%); */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  position: relative;
  z-index: 2;
  padding: 30px;
  text-align: center;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.title {
  /* position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center; */
 
  position: absolute;
  top: 0;
  transform: translateX(50%);
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: auto;
  margin-right: auto;
  right: 50%;
}

.container {
  padding: 2px 16px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  
}

/* body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
 */

button {
  background: #e8e8e8;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 3px solid #c9c9c9;
  border-radius: 3px;
  margin: 20px;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #6ad85c;
}

button:focus {
  outline: none;
}

.answers {
  margin-bottom: 20px;
}

.answer {
  padding: 4px;
  text-align: center;
  background: #f3f3f3;
  margin-bottom: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.answer.selected {
  background: gainsboro;
}

.answer.correct {
  background: #6ad85c;
  font-weight: bold;
}

.answer.incorrect {
  background: #df3636;
  font-weight: bold;
}
.answer:hover {
  background-color: gainsboro;
}

.noHover {
  pointer-events: none;
}
.progressBar {
  width: 100%;
  background: #f3f3f3;
  height: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.progressBar .inner {
  background: #6ad85c;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  transition: ease all 0.5s;
  border-radius: 3px;
}

.progressBar .text {
  font-size: 0.7em;
  position: absolute;
  z-index: 10;
}
